
@font-face {
    font-family: "Raleway-Regular";
    src: url(fonts/Raleway/Raleway-Regular.ttf);
    src: url('Fonts/Raleway/Raleway-Regular.ttf') format("ttf"),
   }

@font-face{
    font-family: "Raleway-SemiBold";
    src: url(fonts/Raleway/Raleway-SemiBold.ttf);
    src: url('fonts/Raleway/Raleway-SemiBold.ttf') format("ttf"),
}
.bodymargin{
    margin: 0 2em;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
}

.logo{
    text-align: start;
    width: 10em;
    
}

.lien{
    justify-content: space-around;
    margin-right: 20px;
    padding-top: 2em;
    color: #0065fc;
}
.lien:hover, .sinscrire:hover{
    border-top: 2px solid #0065fc;
    cursor: pointer;
}

.lignehead{
    padding-top: 1em;
    
}

.ligneheadmobil{
    display: none;
}
.sinscrire{
    font-family: 'Raleway-SemiBold';
    padding-top: 2em;
    color: #0065fc;
    
}

/*Section 1*/

.formrecherche, .filtres{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   margin-bottom: 1em;
}

.text{
    margin-top: 0;;
    margin-bottom: 1em;
}

.trouvez{
    margin-bottom: 0.4em;
    font-family: 'Raleway-SemiBold';
    font-size: 2em;
}

.fa-info{
    text-align: center;
    width: 0.5em;
    height: 0.5em;
    color: #0065fc;
    border-radius: 50%;
    border: 1px #deebff solid;
    padding-top: 0.5em;
    padding-right: 0.7em;
    padding-left: 0.7em;
    padding-bottom: 1em ;
    font-size: 12px;
    margin-right: 1em;
}
.motfiltre{
    font-family: 'Raleway-SemiBold';
    font-size: 1.4em;
}
.boutonfiltres{
    display: flex;
    margin-left: 1em;
    justify-content: center;
    align-items: center;
}

.boutonfiltres:hover{
    box-shadow: 6px 6px 6px #7c7b7b;
    border-radius: 2em;
    border-left: none;
    font-style: oblique;
    cursor: pointer;
    
}

.fa-map-marker-alt{
    background-color: #F2F2F2;  
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 15px;
    height: 15px;
    padding: 0.8em;
    padding-top: 0.50em;
    padding-bottom: 0.65em;

}

.bouton{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065fc;
    color: white;
    padding: 8px;
    border: none;
    height: 34px;
    margin-left: none;
}

.bouton:hover{
    box-shadow: 4px 4px 4px #a5a4a4;
    cursor: pointer;
}

.boutonmobil{
    display: none;
}

.formulaire{
    border: 1px solid #F2F2F2;
    margin-right: none;
}

.fa-money-bill-wave, .fa-dog, .fa-heart{
    color: #0065fc;
    border-radius: 50%;
    border: 1px solid #deebff;
    background-color: #deebff;
    padding: 10px;
    text-align: center;
    margin-right: 0.5em;
    
}
.fa-child{
    text-align: center;
    color: #0065fc;
    border-radius: 50%;
    border: 1px solid #deebff;
    background-color: #deebff;
    padding: 10px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 0.5em;
}

span{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #F2F2F2 solid 2px;
    border-radius: 2em;
    border-left: none;
    padding-right: 1em;
    font-family: 'Raleway-SemiBold';
    font-size: 1.3em;
}

i{
    display: inline-block;
}
/*aside hebergements*/

.hebergements{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 1em;
    align-items: space-around;
    background-color: #F2F2F2;
    border-radius: 20px;
}

#ancre_hebergements{
    font-family: 'Raleway-SemiBold';
    
}

.hebergements_populaires{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.premiereligne, .deuxiemeligne{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.texthebergement{ 
    height: 8em;
    font-size: 0.8em;
    font-family: 'Raleway-SemiBold';
    padding-left: 1em;
}

.boxhebergement{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    box-shadow: 6px 6px 6px #dfdcdc;
    border-radius: 20px;
    margin-bottom: 30px; 
    padding:4px;
    margin: 1em;
}

.imghebergement{
    width: 14.5em;
    height: 7em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px ;
}

.afficher{
    color: black;
    margin: 2em;
}
.afficher:hover{
    font-family: 'Raleway-SemiBold';
}
/*aside populaires*/

.populaires{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 0 1em;
    padding-bottom: 3em;

}
.fa-chart-line{
    font-size: 1.5em;
}

.headpopulaire{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Raleway-SemiBold';
}
.titrepopulaire{
    padding-right: 6.5em;
}

.boxpopulaire{
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 6px 6px 6px #dfdcdc;
    border-radius: 20px;
    padding:4px;
    
}

.titreboxpop{
    font-size: 1em;
    font-family: 'Raleway-SemiBold';
    margin-bottom: 0;
    margin-top: 10px;
}

.imgpopulaire{
    width: 8em;
    height: 9em;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px ;
}

.textpopulaire{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.star{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

/* aside activités*/

.activites{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3em;
}

#ancre_activites{
    font-family: 'Raleway-SemiBold';
}

.imgport{
    border-top-left-radius:20px ;
    border-top-right-radius: 20px;
    width: 17em;
    height: 22em;
}

.text_activite{
    padding-left: 1.7em;
}

.vieuxport{
    border-radius: 20px;
    background-color: white;
    box-shadow: 6px 6px 6px #F2F2F2;
    width: 17em;
    height: 25em;


}

.imgfort{
    border-top-left-radius:20px ;
    border-top-right-radius: 20px;
    height: 10em;
    width: 17em;
    height: 10em;
}

.fort{
    border-radius: 20px;
    background-color: white;
    box-shadow: 6px 6px 6px #F2F2F2;
    width: 17em;
    height: 13em;

}

.imgiles{
    border-top-left-radius:20px ;
    border-top-right-radius: 20px;
    width: 17em;
    height: 7em;
}

.iles{
    border-radius: 20px;
    background-color: white;
    box-shadow: 6px 6px 6px #F2F2F2;
    width: 17em;
    height: 10em;
    
}

.imgcalanques{
    border-top-left-radius:20px ;
    border-top-right-radius: 20px;
    width: 17em;
    height: 22em;
    margin: 0;
}

.calanques{
    
    justify-content: flex-start;
    border-radius: 20px;
    background-color: white;
    box-shadow: 6px 6px 6px #F2F2F2;
    width: 17em;
    height: 25em;

}

.imgnotredame, .imglongchamp{
    border-top-left-radius:20px ;
    border-top-right-radius: 20px;
    width: 17em;
}

.notredame{
    border-radius: 20px;
    background-color: white;
    box-shadow: 6px 6px 6px #F2F2F2;
    width: 17em;
    height: 11em;
}

.longchamp{
    border-radius: 20px;
    background-color: white;
    box-shadow: 6px 6px 6px #F2F2F2;
    width: 17em;
    height: 11em;
}

.box_activites{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/* Général */

.cannebiere:hover, .hotelmouettes:hover, .vieuxport:hover, .fort:hover, .iles:hover, .calanques:hover, .notredame:hover, .longchamp:hover, .hotelamina:hover, .soleil:hover, .bleublanc:hover, .coeur:hover, .hotelport:hover, .panier:hover, .hotelmer:hover {
    box-shadow: 6px 6px 6px #7c7b7b;
    cursor: pointer;
}

p{
    font-family: 'Raleway-Regular';

}

ul{
    list-style-type: none;
}

a {
    color:black;
    text-decoration: none;
    font-family: 'Raleway-Regular';
}

.strong{
    font-family: 'Raleway-SemiBold';
    
}

.h3{
    margin-bottom: 0.5em;

}

.fa-star{
    color: #0065fc;
}

/*Footer*/

footer{
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-family: 'Raleway-Regular';
    padding-bottom: 2em;

}

.apropos, .noshebergements{
    padding-right: 12em;
}

.h4{
    font-family: 'Raleway-SemiBold';
}

/* Media Queries*/

@media all and (max-width: 600px) 
{
    .bodymargin{
        margin: 0;
    }
    header{
        padding-top: 0;
        flex-direction: column;
    }

    .logo{
        width: 7em;
    
    }
    .sinscrire{
        position: absolute;
        top: 0;
        right: 1em;
    }

    .trouvez{
        font-size: 1.5em;
    }

    .lignehead{
        display: flex;
        justify-content: space-around;
        padding: 0;
    }
    .bouton{
        display: none;
    }
    
    .boutonmobil{
        border-radius: 10px;
        background-color: #0065fc;
        color: white;
        padding: 8px;
        border: none;
        height: 34px;
        margin-left: none;
    }
    .lien{
        color: black;
        border-bottom: 2px solid #F2F2F2 ;
        width: 100%;
        margin: 0;
        text-align: center;
        padding-bottom: 0.5em;
    }
    .lien:hover{
        color: #0065fc;
        border-bottom: 2px solid #0065fc;
        border-top: none;
    }

    .boutonmobil{
        display: inline;
        border-radius: 10px;
        background-color: #0065fc;
        color: white;
        padding: 8px;
        border: none;
        margin-left: none;
    }
}