
@font-face {
    font-family: "Raleway-Regular";
    src: url(fonts/Raleway/Raleway-Regular.ttf);
    src: url('Fonts/Raleway/Raleway-Regular.ttf') format("ttf"),
   }

@font-face{
    font-family: "Raleway-SemiBold";
    src: url(fonts/Raleway/Raleway-SemiBold.ttf);
    src: url('fonts/Raleway/Raleway-SemiBold.ttf') format("ttf"),
}
.bodymargin{
    margin: 0 2em;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
}

.logo{
    text-align: start;
    width: 10em;
    
}

.lien{
    justify-content: space-around;
    margin-right: 20px;
    padding-top: 2em;
    color: #0065fc;
}
.lien:hover, .sinscrire:hover{
    border-top: 2px solid #0065fc;
    cursor: pointer;
}

.lignehead{
    padding-top: 1em;
}

.ligneheadmobil{
    display: none;
}

.sinscrire{
    font-family: 'Raleway-SemiBold';
    padding-top: 2em;
    color: #0065fc;
}

/*Section 1*/

.formrecherche{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   margin-bottom: 1em;
}

.filtres{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.text{
    margin-top: 0;;
    margin-bottom: 1em;
}

.trouvez{
    margin-bottom: 0.4em;
    font-family: 'Raleway-SemiBold';
    font-size: 2em;
}

.fa-info{
    text-align: center;
    width: 0.5em;
    height: 0.5em;
    color: #0065fc;
    border-radius: 50%;
    border: 1px #deebff solid;
    padding-top: 0.5em;
    padding-right: 0.7em;
    padding-left: 0.7em;
    padding-bottom: 1em ;
    font-size: 12px;
    margin-right: 1em;
}
.motfiltre{
    font-family: 'Raleway-SemiBold';
    font-size: 1.4em;
}
.boutonfiltres{
    display: flex;
    margin-left: 1em;
    justify-content: center;
    align-items: center;
}

.eco-familial{
    display: flex;
}

.boutonfiltres:hover{
    box-shadow: 6px 6px 6px #7c7b7b;
    border-radius: 2em;
    border-left: none;
    font-style: oblique;
    cursor: pointer;
    
}

.fa-map-marker-alt{
    background-color: #F2F2F2;  
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 1.3em;
    width: 1.3em;
    padding-left: 0.8em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

}

.bouton{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065fc;
    color: white;
    padding: 8px;
    border: none;
    height: 34px;
    margin-left: none;
}

.bouton:hover{
    box-shadow: 4px 4px 4px #a5a4a4;
    cursor: pointer;
}

.boutonmobil{
    display: none;
}

.formulaire{
    border: 1px solid #F2F2F2;
    margin-right: none;
    height: 2.4em;
}

.fa-money-bill-wave, .fa-dog, .fa-heart{
    color: #0065fc;
    border-radius: 50%;
    border: 1px solid #deebff;
    background-color: #deebff;
    padding: 10px;
    text-align: center;
    margin-right: 0.5em;
    
}
.fa-child{
    text-align: center;
    color: #0065fc;
    border-radius: 50%;
    border: 1px solid #deebff;
    background-color: #deebff;
    padding: 10px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 0.5em;
}

span{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #F2F2F2 solid 2px;
    border-radius: 2em;
    border-left: none;
    padding-right: 1em;
    font-family: 'Raleway-SemiBold';
    font-size: 1.3em;
}

i{
    display: inline-block;
}
/*aside hebergements*/

.hebergements{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 1em;
    align-items: space-around;
    background-color: #F2F2F2;
    border-radius: 20px;
}

#ancre-hebergements{
    font-family: 'Raleway-SemiBold';
    
}

.hebergements-populaires{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.premiereligne, .deuxiemeligne{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.texthebergement{ 
    height: 8em;
    font-size: 0.8em;
    font-family: 'Raleway-SemiBold';
    padding-left: 1em;
}

.boxhebergement{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    box-shadow: 6px 6px 6px #dfdcdc;
    border-radius: 20px;
    margin-bottom: 30px; 
    padding:4px;
    margin: 1em;
}

.hebergement-img-1{
    background-image: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}

.hebergement-img-2{
    background-image: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}

.hebergement-img-3{
    background-image: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}

.hebergement-img-4{
    background-image: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}

.hebergement-img-5{
    background-image: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}

.hebergement-img-6{
    background-image: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}

.imghebergement{
    width: 14.5em;
    height: 7em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px ;
}

.afficher{
    color: black;
    margin: 2em;
}
.afficher:hover{
    font-family: 'Raleway-SemiBold';
}
/*aside populaires*/

.populaires{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 0 0.5em;
    padding-bottom: 1em;
}

.fa-chart-line{
    font-size: 1.5em;
}

.headpopulaire{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Raleway-SemiBold';
}
.titrepopulaire{
    padding-right: 6.5em;
}

.boxpopulaire{
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 6px 6px 6px #dfdcdc;
    border-radius: 20px;
    padding:4px;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.contenu-populaire{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titreboxpop{
    font-size: 1em;
    font-family: 'Raleway-SemiBold';
    margin-bottom: 0;
    margin-top: 10px;
}

.populaire-img-1{
    background-image: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
}

.populaire-img-2{
    background-image: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
}

.populaire-img-3{
    background-image: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}

.imgpopulaire{
    width: 8em;
    height: 9em;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px ;
}

.textpopulaire{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.star{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

/* aside activités*/

.activites{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3em;
}

#ancre-activites{
    font-family: 'Raleway-SemiBold';
}

.boxactivites{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.text-activite{
    padding-left: 1.7em;
}

.activite-img-1{
    background-image: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
}

.activite-img-2{
    background-image: url(images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}

.activite-img-3{
    background-image: url(images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
}

.activite-img-4{
    background-image: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}

.activite-img-5{
    background-image: url(images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}

.activite-img-6{
    background-image: url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
}

.imgport{
    border-top-left-radius:20px ;
    border-top-right-radius: 20px;
    width: 18em;
    height: 22em;
}

.imgfort{
    border-top-left-radius:20px ;
    border-top-right-radius: 20px;
    width: 18em;
    height: 9em;
}

.imgiles{
    border-top-left-radius:20px ;
    border-top-right-radius: 20px;
    width: 18em;
    height: 7em;
}

.imgcalanques{
    border-top-left-radius:20px ;
    border-top-right-radius: 20px;
    width: 18em;
    height: 22em;
    margin: 0;
}

.imgnotredame, .imglongchamp{
    border-top-left-radius:20px ;
    border-top-right-radius: 20px;
    width: 18em;
    height: 8.5em;
} 

.vieuxport{
    border-radius: 20px;
    background-color: white;
    box-shadow: 6px 6px 6px #F2F2F2;
    width: 18em;
    height: 25em;
}

.fort{
    border-radius: 20px;
    background-color: white;
    box-shadow: 6px 6px 6px #F2F2F2;
    width: 18em;
    height: 12em;

}

.iles{
    border-radius: 20px;
    background-color: white;
    box-shadow: 6px 6px 6px #F2F2F2;
    width: 18em;
    height: 10em;
}

.calanques{
    justify-content: flex-start;
    border-radius: 20px;
    background-color: white;
    box-shadow: 6px 6px 6px #F2F2F2;
    width: 18em;
    height: 25em;
}

.notredame{
    border-radius: 20px;
    background-color: white;
    box-shadow: 6px 6px 6px #F2F2F2;
    width: 18em;
    height: 11em;
}

.longchamp{
    border-radius: 20px;
    background-color: white;
    box-shadow: 6px 6px 6px #F2F2F2;
    width: 18em;
    height: 11em;
}

/* Général */

.img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.boxhebergement:hover, .boxpopulaire:hover, .vieuxport:hover, .fort:hover, .iles:hover, .calanques:hover, .notredame:hover, .longchamp:hover{
    box-shadow: 6px 6px 6px #7c7b7b;
    cursor: pointer;
}

p{
    font-family: 'Raleway-Regular';
}

ul{
    list-style-type: none;
}

a {
    color:black;
    text-decoration: none;
    font-family: 'Raleway-Regular';
}

.strong{
    font-family: 'Raleway-SemiBold';
}

.h3{
    margin-bottom: 0.5em;
}

.fa-star{
    color: #0065fc;
}

/*Footer*/

footer{
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-family: 'Raleway-Regular';
    padding-bottom: 2em;
}

.apropos, .noshebergements{
    padding-right: 12em;
}

.title-footer{
    font-family: 'Raleway-SemiBold';
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 1em;
}

.apropos, .noshebergements, .assistance{
    display: flex;
    flex-direction: column;
}

li{
    margin-bottom: 1em;
}

/* Media Queries*/

/* MOBILE */

@media all and (max-width: 600px) 
{
    .bodymargin{
        margin: 0;
    }

    header{
        padding-top: 0;
        flex-direction: column;
    }

    .logo{
        width: 7em;
    }

    .sinscrire{
        position: absolute;
        top: 0;
        right: 1em;
    }    

    .trouvez{
        font-size: 1.5em;
    }

    .lignehead{
        display: flex;
        justify-content: space-around;
        padding: 0;
    }

    .formrecherche{
        justify-content: center;
        margin: 2em 0.5em;
    }

    .formulaire{
        flex: 1;
        border-radius: 15px;
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 1.3em;
        padding-left: 1em;
    }

    .fa-map-marker-alt{

        height: 1.87em;
        width: 2em;
        padding-left: 1.3em;
        padding-top: 1em;
        padding-bottom: 0.5em;
    }

    .bouton{
        display: none;
    }
    
    .boutonmobil{
        display: inline;
        border-radius: 15px;
        background-color: #0065fc;
        color: white;
        padding: 8px;
        border: none;
        height: 4em;
        width: 4em;
        margin-left: -3.1em;
    }

    .fa-search{
        font-size: 1.5em
    }

    .lien{
        color: black;
        border-bottom: 2px solid #F2F2F2 ;
        width: 100%;
        margin: 0;
        text-align: center;
        padding-bottom: 0.5em;
    }

    .lien:hover{
        color: #0065fc;
        border-bottom: 2px solid #0065fc;
        border-top: none;
    }

    .filtres{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-top: 0;
    }

    .motfiltre{
        margin-right: 4em;
    }

    span{
        font-size: 1em;
    }

    .eco-familial{
        display: flex;
    }

    .boutonfiltres{
        margin: 0.5em 1em;
        margin-left: 0;
    }

    .info{
        display: flex;
    }

    .hebergements-populaires{
        flex-direction: column-reverse;
    }

    .titrepopulaire{
        padding: 0;
        margin-right: 3em;
    }

    .boxpopulaire{
        margin-bottom: 1em;
    }

    .populaires{
        justify-content: space-around;
        padding-bottom: 0;
    }

    .hebergements{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: white;
    }

    .premiereligne, .deuxiemeligne{
        justify-content: center;
    }
    
    .afficher{
        margin: 2em 0;
    }

    .boxhebergement{
        margin: 0.5em 0;
        width: 100%;
        border: 1px #f8f5f5 solid;
    }

    .texthebergement{
        height: auto;
    }

    .imghebergement{
        width: 100%;
    }

    .activites{
        justify-content: center;
        align-items: center;
        padding: 0 1em;
        margin: 0;
    }

    #ancre-activites{
        width: 100%;
        font-weight: bold;
    }

    .vieuxport, .fort, .iles, .calanques, .notredame, .longchamp{
        height: auto;
        width: auto;
        margin: 0.8em 0;
    }

    .imgport, .imgfort, .imgiles, .imgcalanques, .imgnotredame, .imglongchamp{
        width: 20em;
        height: 8em;
    }

    .apropos, .noshebergements{
        padding-right: 1em;
    }
}

/* TABLETTE */

@media all and (min-width: 601px) and (max-width: 1344px) 
{
    .filtres{
        flex-wrap: wrap;
    }

    .hebergements-populaires{
        flex-direction: column-reverse;
    }
    
    .populaires{
        margin-bottom: 1em;
    }

    .boxpopulaire{
        width: 30%;
        flex-direction: column;
    }

    .textpopulaire{
        padding-left: 10px;
    }

    .contenu-populaire{
        flex-direction: row;
    }

    .boxhebergement{
        width: 30%;
        height: 40%;
        margin: 0.5em 0;
    }

    .imgpopulaire{
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        border-bottom-left-radius: 0%;
        width: 100%;
    }
    
    .imghebergement{
        width: 100%;
    }
    
    .star{
        margin: 0;
    }

    footer{
        height: 100%;
    }
}

/* GRAND ECRAN */


@media all and (min-width: 1617px) and (max-width: 4000px)
{
    .bodymargin{
        margin: 0 10%;
    }

    header{
        margin: 0 20%;
    }

    nav{
        margin: 0 20%;
    }

    .hebergements-populaires{
        justify-content: center;
    }

    .hebergements{
        margin-right: 1em;
    }

    .activites{
        justify-content: center;
    }

    #ancre-activites{
        text-align: center;
    }

    .vieuxport, .fort, .iles, .calanques, .notredame, .longchamp{
        margin-right: 1em;
    }

    footer{
        justify-content: center;
    }
}
